body,
html {
  margin: 0;
  padding: 0;
}

.section {
  min-height: 100vh;
  position: relative;
  text-align: center;
  font-family: sans-serif, arial;
  margin: 0;
  background: black;
  color: #ff99cc;
  overflow: hidden;
}

h1 {
  margin-top: 7ch;
}
.text-wr {
  margin-left: 4ch;
  margin-right: 4ch;
  margin-top: 10ch;
}

.text-wr-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav {
  position: fixed; /*left: 50%;*/
  width: 100%;
  top: 20px;
  z-index: 9;
  padding-left: 10px;
  text-align: center;
  background-color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;

  top: 0px;
}

.nav a {
  padding: 7px 20px;
  border-radius: 7px;
  margin-right: 10px;
  background: black;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: white;
  font-family: "Courier", monospace;
  font-size: 4vh;
}

@media screen and (min-width: 1024px) {
  .nav a {
    font-size: 4vh;
  }
}

.nav a.active {
  background: rgba(0, 0, 0, 0.5);
  color: pink;
}

@media screen and (min-width: 1024px) {
  .nav a.active {
    font-size: 6vh;
  }
}

.nav a:hover .dropdown:hover .dropbtn {
  background: pink;
}

.fork-wr img {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  border: 0;
}

.links-hidden {
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 10px;
}

.links-hidden:hover,
.links:hover {
  background-color: black;
}

.menu-btn {
  background-color: black;
  color: white;
  padding: 16px;
  font-family: "Courier", monospace;
  font-size: 4vh;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    font-size: 4vh;
  }
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  font-size: 10px;
  font-family: "Courier", monospace;
  overflow: auto;
  z-index: 1;
}

.menu-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

svg {
  max-width: 25em;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000;
  background: #000;
  fill: none;
  stroke: #222;
  stroke-linecap: round;
  stroke-width: 8%;
}

use {
  stroke: #fff;
  animation: a 2s linear infinite;
}

@keyframes a {
  to {
    stroke-dashoffset: 0px;
  }
}

/* nadpisy pro sekce */
.title {
  color: pink;
  font-family: "Courier", monospace;
  font-size: 4vh;
}

/* root text v prvni sekci About us */
.mainText {
  color: white;
  font-family: "Courier", monospace;
  font-size: 3vh;
}

/* hlavni text pro ukoly */
.secondText {
  color: white;
  font-family: "Courier", monospace;
  font-size: 2.5vh;
  padding-bottom: 1ch;
}

/* hlavni text pro ukoly pro osloveni*/
.secondTextBold {
  color: white;
  font-family: "Courier", monospace;
  font-size: 2.5vh;
  padding-bottom: 1ch;
  font-weight: bold;
}

/* odrazeny second text */
.thirdText {
  color: white;
  font-family: "Courier", monospace;
  font-size: 2.5vh;
  padding-bottom: 1ch;
}

/* pruvodni dopis text */
.fourText {
  color: white;
  font-family: "Courier", monospace;
  font-size: 2.5vh;
  padding-bottom: 1ch;
}

/* main nadpis rozluckarna */
.fifthText {
  color: white;
  font-family: "Courier", monospace;
  font-size: 100px;
  margin-top: 5%;
}

/* main nadpis rozluckarna */
.oslavnyText {
  color: greenyellow;
  font-family: "Courier", monospace;
  font-size: 5vh;
  padding-bottom: 1ch;
}

/* desktop styles */
@media screen and (min-width: 1024px) {
  .mainText {
    color: white;
    font-family: "Courier", monospace;
    font-size: 4vh;
  }
  /* hlavni text pro ukoly */
  .secondText {
    color: white;
    font-family: "Courier", monospace;
    font-size: 3vh;
    padding-bottom: 1ch;
  }

  /* hlavni text pro ukoly pro osloveni*/
  .secondTextBold {
    color: white;
    font-family: "Courier", monospace;
    font-size: 3vh;
    padding-bottom: 1ch;
    font-weight: bold;
  }

  /* main nadpis rozluckarna */
  .fifthText {
    color: white;
    font-family: "Courier", monospace;
    font-size: 160px;
    margin-top: 5%;
  }

  .oslavnyText {
    color: greenyellow;
    font-family: "Courier", monospace;
    font-size: 5vh;
    padding-bottom: 1ch;
  }
}

.show {
  display: block;
}
